{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <h1 class="title">Add a new shop</h1>
    <form method="post">
        <div class="field">
            <label for="title">Name</label>
            <div class="control">
                <input name="name" id="name" type="text" placeholder="Shop name"/>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input class="button is-link" type="submit"/>
            </div>
        </div>
    </form>
{% endblock %}
