<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/product">All products</a>
            <a class="navbar-item" href="/shop">Shops</a>
            <a class="navbar-item" href="/product/new"> + Add a new product</a>
        </div>
    </nav>
</div>
<div class="container">
    <div class="navbar">

    </div>
</div>
<section class="section">
    <div class="container">

        {% block body %}{% endblock %}
    </div>
</section>
{% block javascripts %}{% endblock %}
</body>
</html>
